.warehouseTableRow .actionsCell {
  white-space: nowrap;
}

.warehouseTableRow .editButton {
  margin-right: 2px;
}

.warehouseTableRow .tableInput {
  width: 100%;
}

.warehouseTableRow td {
  white-space: pre-line;
}
